:root {
    --title-letter: 'PT serif'
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
}

body {
    background-image: url(./../medias/contact_image.jpg);
    background-size: cover;
    /* min-height: 200vh; */

}

/* Navbar */
header nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(9,87,58, 45%);
    padding: 10px 80px;
    z-index: 100000;
    box-shadow: 4px 13px 11px -1px rgba(0, 0, 0, 0.75);
-webkit-box-shadow: 4px 13px 11px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 4px 13px 11px -1px rgba(0,0,0,0.75);
}

/* Logo with Neon light effects */
header .logo {
    position: relative;
    font-weight: 700;
    color: #B9F2DE;
    text-decoration: none;
    font-family: "Young Serif";
    font-size: 3em;
    letter-spacing: 2px;
    text-shadow: 0 0 100px transparent,
                0 0 20px #79c9ad,
                0 0 40px #81c4ab;
}


header ul {
position: relative;
display: flex;
justify-content: right;
gap: 10px;
align-items: right;
padding-left: 20%;
list-style: none;
}

header li {
    position: relative;
    list-style: none;

}

header li a {
    position: relative;
    margin: 0 10px;
    color: #f5f2b5;
    letter-spacing: 3px;
    font-weight: 1000px;
    font-family: "Young Serif";
    font-size: 11px;
    text-decoration: none;
    text-shadow: 0 0 100px transparent,
    0 0 20px #F4EC46,
    0 0 40px #f5ea24;
}

/* Nav search box */
.search-box input{
    padding: 8px;
    padding-right: 160px;
    box-sizing: border-box;
    font-size: 12px;
    letter-spacing: 1px;
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid #f5f2b5;
    border-radius: 10px;
    outline: none;
}

.fi-br-search {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 90px;
    color: #f5f2b5;
    font-size: 15px;
}

::-webkit-input-placeholder {
    color: #f5f2b5;
}

@media screen and (max-width: 425px) {
    .search-box {
        width: 95%;
    }
}

/* form */
.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
    padding-bottom: 10%;
}

.container {
    width: 420px;
    border: 2px solid rgba(255, 255, 255, 0.377);
    box-shadow: 4px 1px 60px 20px rgba(0,0,0,0.75);
-webkit-box-shadow: 4px 1px 60px 20px rgba(0,0,0,0.75);
-moz-box-shadow: 4px 1px 60px 20px rgba(0,0,0,0.75);
    border-radius: 20px;
    padding: 30px 40px;
}

.container h1 {
    font-size: 36px;
    text-align: center;
    color: #f5f2b5;
    text-shadow: 0 0 100px transparent,
    0 0 20px #F4EC46,
    0 0 40px #f5ea24
}

.container .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.377);
    border-radius: 5px;
    font-size: 16px;
    color: #f5f2b5;
    padding: 20px 45px 20px 20px;
    text-shadow: 0 0 100px transparent,
    0 0 20px #F4EC46,
    0 0 40px #f5ea24
}

.input-box input::placeholder {
    color: #f5f2b5;
}

.container .btn {
    width: 100%;
    height: 45px;
    background: #F4EC46;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    color: #1F2426;
}

.container .btn:hover {
        transition: 0.5s;
        background-color: #ece560;
        box-shadow: 1px 3px 27px 1px rgba(255, 249, 196, 0.75);
    -webkit-box-shadow: 1px 3px 27px 1px rgba(224, 216, 96, 0.75);
    -moz-box-shadow: 1px 3px 27px 1px rgba(238, 226, 61, 0.75);
}
